body.dark-mode{
    background: radial-gradient(circle, rgba(18,18,18,1) 40%, rgba(30,30,30,1) 100%);
    /* background-color: #0a0a0a; */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Hero Section */
.hero-section{
    text-align: center;
    padding: 50px;
    animation: fadeIn 1.5s ease-in-out;
}
/* Hero Title */
.hero-title{
    font-size: 4rem;
    font-weight: 700;
    color: #3b82f6;
    text-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
    opacity: 0;
    animation: fadeInText 1.5s ease-in-out forwards;

}
/* Hero Subtitle */
.hero-subtitle{
    font-size: 1.5rem;
    margin-top: 10px;
    color: #bbb;
    opacity:0;
    animation: fadeInText 2s ease-in-out forwards;
}
/* Hero Button */
.hero-button{
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(to right, #00d4ff,#8a2be2);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 0;
    animation: fadeInText 2.5s ease-in-out forwards;
}

.hero-button:hover{
    transform: scale(1.05);
    /* background-color: #25632b;  darker blue */
    box-shadow: 0 0 20px rgba(0, 255, 255, 1);
}
/* Fade-In Animation */
@keyframes fadeInText{
    from{
        opacity: o;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Hero Tagline */
.hero-tagline{
    font-size: 1.2rem;
    color: #aaa;
    font-style: italic;
    margin-top: 15px;
    opacity: 0;
    animation: fadeInText 2.8s ease-in-out forwards;
}
/* Scroll Down Indicator */
.scroll-down{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
    color: #bbb;
    opacity: 0;
    animation: fadeInText 3s ease-in-out forwards, bounce 2s infinite ease-in-out;
}
/*Mouse Icon */
.mouse-icon{
    width: 25px;
    height: 40px;
    border: 2px solid #bbb;
    border-radius: 20px;
    margin: 5px auto;
    position: relative;
}
/* Scrolling Wheel */
.wheel{
    width: 5px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: wheelMove 1.2s infinite ease-in-out;
}
/* Wheel Movement Animation */
@keyframes wheelMove {
    0%{
        top: 5px;
        opacity: 1;
    }
    50%{
        top: 15px;
        opacity: 0.5;
    }
    100%{
        top: 5px;
        opacity: 1;
    }
    
}
/* Bounce Animation For Scroll Down */
@keyframes bounce {
    0%, 100%{
        transform: translate(-50%,0);
    }
    50%{
        transform: translate(50%, 5px);
    }
}